<ion-header-bar class="bar-stable">
  <h1 class="title">Exis Chat</h1>
</ion-header-bar>
<ion-view view-title="Home" class="chat-detail">
  <ion-content class="padding" delegate-handle="mainScroll">
    <div ng-repeat="message in msgs" class="message-wrapper rlt">
      <div ng-if="message.received && !message.join">
        <img class="profile-picture left" src="img/exis.png" />
        <div class="chat-bubble left">
          <div class="message-detail">
            <span class="message-time">{{ message.username }}</span>
          </div>
          <div class="message">
            <a ng-href="{{message.msg}}" target="_blank">{{message.username}}'s Location</a>
          </div>
        </div>
      </div>
      <div ng-if="!message.received && !message.join">
        <img class="profile-picture right" src="img/ionic.png"  />
        <div class="chat-bubble right">
          <div class="message-detail">
            <span class="message-time">Me</span>
          </div>
          <div class="message">
            <a ng-href="{{message.msg}}" target="_blank">My Location</a>
          </div>
        </div>
      </div>
      <div class="cf"></div>
    </div>
  </ion-content>

  <form name="sendMessageForm" ng-submit="sendMsg(input.msg)" novalidate>
    <ion-footer-bar class="bar-stable message-footer" keyboard-attach class="bar-assertive">
        <button class="button button-block button-assertive" type="submit">
				  Publish My Location  &nbsp;&nbsp;<span class="icon ion-android-send"></span>
        </button>
    </ion-footer-bar>
  </form>
</ion-view>
